.mat-card {
    background-color: coral;
    width: 80%;
    height: 80%;
    margin: auto;
}

button {
    background-color: black;
    color: white;
}

.col-11-offset-1 {
    height: 100%;
    width: 100%;
    background-color: darkslategrey;
}